<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guide | Hack Club Folktale</title>
    <link rel="icon" type="image/png" href="/resources/leave_2.png">
    <link rel="stylesheet" href="/guide.css">

    <!-- Privacy-friendly analytics by Plausible -->
    <script async src="https://plausible.io/js/pa-lE-bubg2qn8PVVQjARgff.js"></script>
    <script>
        window.plausible = window.plausible || function () {
            (plausible.q = plausible.q || []).push(arguments)
        }, plausible.init = plausible.init || function (i) {
            plausible.o = i || {}
        };
        plausible.init()
    </script>

</head>
<body>
{PROGRESSBAR}
<a id="home-link" href="/"><img id="home-icon" src="/resources/home.svg" alt="Home"></a>
{NAVIGATOR}
<main id="guide-content">
    {GUIDE}
</main>
{NAV}
</body>
</html>
