@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Modern+Antiqua&display=swap');

:root {
    font-family: Afacad, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

#manuscript {
    width: 80%;
    height: 40%;
    margin: 0 auto 0 auto;
    padding: 160px 2px 50px 3px;
    background-color: antiquewhite;
}